<div id="modules-container">
  <div class="scroll-container">
    <div class="title">
      <span>Your Modules</span>
      <div id="add-a-module"></div>
    </div>
    <ul id="modules">
    {{#modules}}
      <li>
        <div class="padding">
          <span class="name">{{ name }}</span>
          <span class="version">{{ version }}</span>
          <p>{{ description }}</p>
          <a class="repository" target="_blank" href="{{ homepage }}">docs &amp; source</a>
          <a class="delete {{ name }}" href="/remove/{{ name }}">Delete this module</a>
          <script> {{{ source }}} </script>
          <script>
            // check on what functions are new in the $ variable
            introspect.diff("{{ name }}");
          </script>
        </div>
      </li>
    {{/modules}}
    </ul>
    <script>
      // sort everything out now that we know who owns what
      introspect.cull()
    </script>
    <div id="add">
      Add a module to your ender
    </div>
  </div>
</div>
<div id="functions-container">
  <div id="searchbox">
    <input type="text" id="livesearch" value="Search those functions"/>
  </div>
  <h3 id="size">
    Size: {{ size }}kb
  </h3>
  <div class="title">
    <span>Your Functions</span>
    <span class="directory">{{ directory }}</span>
  </div>
  <div id="function-scroller">
    <!-- template for rendering a function list item -->
    <script type="text/ender-template" id="template">
      <li>
        <span class="<%= extraClass %>">
          <em class="money"><%= prefix %></em>
          <strong><%= name %> <%= aliases %></strong>
        </span>
        <div class="info">
          <div class="docs">
            <span class="owner"><%= owner %></span>
          </div>
          <pre><code><%= func %></code></pre>
        </div>
      </li>
    </script>
    <ul id="functions">
    </ul>
  </div>
</div>
<!-- hidden div for adding a module -->
<div id="add-popup">
  <div id="popup-stuff">
    <div id="add-form">
      <form>
        <input type="text" id="arbitrary" value="Add any module by name, hit enter"/>
      </form>
    </div>
    <h3 class="message">{{ jeeshNotice }}</h3>
    <ul>
      {{#unusedJeesh}}
      <li>
        <a href="/add/{{ name }}">{{ name }}</a>
      </li>
      {{/unusedJeesh}}
    </ul>
  </div>
</div>