<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>What's in yer $</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/wallet.css">
  <script type="text/javascript" src="/ender.js"></script>
  <script type="text/javascript" src="/wallet-client.js"></script>
</head>
<body>
  <div id="container">
    {{{yield}}}
  </div>
</body>
</html>