* {
   padding:0; margin:0; list-style:none;
}

html,body {
   height:100%;
}
body {
   font-family:Helvetica,Arial,sans-serif;
}

#container {
   height:100%;
   overflow:hidden;
   background:white;
}

#modules-container {
   width:27%;
   height:100%;
   position:relative;
   float:left;
   background:rgba(25,25,25,0.3);
   -webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.7);
   z-index:5;
   overflow:hidden;
   background:white url(/img/background.jpeg);
}
#functions-container {
   width:73%;
   height:100%;
   float:right;
   position:relative;
   background:white url(/img/battle.jpeg) no-repeat center center;
   z-index:0;
   overflow:hidden;
}

.title {
   width:100%;
   z-index:100;
   background:white;
   font-family:Georgia,serif;
   font-style:italic;
   -webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.7);
   height:6%;
   position:relative;
   border-top:2px solid #ddd;
   border-bottom:1px solid #eee;
}
.title span {
   padding:10px 15px;
   display:block;
   font-size:12px;
}

.title span.directory {
   color:rgb(29,130,124);
   position:absolute;
   top:0px; right:0px;
}

.scroll-container {
   height:100%;
}

ul#modules {
   height:94%;
   overflow:auto;
}

#modules li {
   background:rgba(65,65,65,0.9);
   -webkit-box-shadow:0px 0px 4px rgba(0,0,0,0.3);
   color:#333;
   padding-bottom:5px;
   margin:5px;
   background:rgba(240,255,250,0.9);
}
#modules li .padding {
   padding:10px;
}

span.name {
   display:block;
   color:rgb(29,130,124);
   font-weight:bold;
   border-bottom:1px solid rgba(29,130,124,0.3);
   font-size:18px;
   padding:0px 0px 5px 5px;
   margin-bottom:5px;
}
span.version {
   display:block;
   color:rgb(255,79,19);
   font-size:12px;
   font-family:monospace;
   padding:5px;
}
a.repository {
   font-size:11px;
   color:royalblue;
   font-weight:bold;
   margin:25px 5px 5px 5px;
   display:block;
   text-decoration:none;
}

#modules pre {
  display:none;
}

#modules p {
   font-family:Georgia,serif;
   font-style:italic;
   color:#555;
   font-size:12px;
   padding:5px;
}

#searchbox {
   position:absolute;
   top:75px;
   left:25px;
}

#livesearch {
   font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
   color:#aaa;
   padding:5px;
   font-size:14px;
   font-weight:bold;
}

#function-scroller {
   height:94%;
   overflow:auto;
   background:rgba(25,25,25,0.3);
}

ul#functions {
   padding:15px 5px;
}

ul#functions li {
   padding:8px 8px;
   margin:5px;
   text-align:right;
}

#functions pre {
   text-align:left;
}

span.notice {
  padding:10px 55px 10px 55px;
  font-family:Georgia,serif;
  font-style:italic;
  font-size:12px;
}

span.fn {
   font-weight:bold;
   font-size:18px;
   background:rgba(255,255,255,0.5);
   padding:10px 55px 10px 55px;
   color:rgb(29,130,124);
   -webkit-box-shadow:0px 0px 1px rgba(0,0,0,0.1);
   -webkit-border-radius:1px;
   cursor:pointer;
}
span.fn:hover {
   background:rgba(255,255,255,0.9);
}
span.fn.open {
   background:rgba(240,255,250,0.9);
}

span.fn em {
   color:white;
   font-weight:normal;
   font-style:normal;
}

span.fn em.money {
   color:white;
   font-style:normal;
}
span.fn:hover em.money {
   color:rgb(255,79,19);
}

div.info {
   display:none;
   background:rgba(255,255,255,0.8);
   padding:0px 0px 0px 5px;
   text-align:left;
}
div.info.visible {
   display:block;
}

div.info div.docs {
   padding:10px 3px;
   border-bottom:3px solid #ccc;
}

div.info span.owner {
  font-size:12px;
  font-family:monospace;
  color:white;
  background:rgb(255,79,19);
  -webkit-border-radius:3px;
  padding:5px;
}

div.info pre {
  background:rgba(0,0,0,0.7);
  overflow:scroll;
  color:white;
  padding:15px;
}

::-webkit-scrollbar {
   width: 5px;
   height: 5px;
   background:#aaa;
}

::-webkit-scrollbar-track-piece  {
   background-color: #ddd;
}

::-webkit-scrollbar-thumb {
   background-color: #bbb;
   background-color:rgb(59,170,154);
}

/* syntax highlighting */
.number {
  color:#ffff44;
}

.keyword {
  color: #219195;
}

.string {
  color: #fa524f;
}

.comment {
  color: #aaaaaa;
}