<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>What's in yer $</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/wallet.css">
  <script type="text/javascript" src="/js/MONEYender.js"></script>
  <script type="text/javascript" src="/js/introspect.js"></script>
  <script type="text/javascript" src="/js/wallet-client.js"></script>
</head>
<body>
  <div id="container">
    {{{yield}}}
  </div>
  <script src="/js/hijs.js"></script>
</body>
</html>